<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kredyt</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    #submit {
      margin-bottom: 50px
    }
  </style>
</head>
<body>

<div th:replace="navbar.html :: navbarFragment"></div>

<div class="container mt-4">
  <h1>Kredyt</h1>
  <form th:action="@{/take-credit}" method="post" oninput="updateLoanValues()">
    <div class="form-group">
      <label for="amount">Kwota:</label>
      <input type="number" step="any" class="form-control" id="amount" name="amount" oninput="updateLoanValues()" required>
    </div>
    <div class="form-group">
      <label for="installments">Liczba rat:</label>
      <input type="range" class="form-control-range" id="installments" name="installments" min="1" max="36" oninput="updateLoanValues()" required>
      <div id="rates">Liczba rat: 1</div>
    </div>
    <div class="form-group">
      <output id="monthlyPayment">Miesięczna rata: 0.00 zł</output>
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Weź kredyt</button>
  </form>

  <div class="my-4">
    <h2>Twoje kredyty</h2>
    <div id="loanInfo" style="display: none;">
      <table class="table" th:unless="${loans.isEmpty()}">
        <thead>
        <tr>
          <th>Kwota</th>
          <th>Liczba rat</th>
          <th>Pozostałe raty</th>
          <th>Miesięczna rata</th>
          <th>Data wzięcia kredytu</th>
          <th>Data zakończenia kredytu</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="loan : ${loans}">
          <td th:text="${loan.amount} + ' zł'"></td>
          <td th:text="${loan.installments}"></td>
          <td th:text="${loan.remainingInstallments}"></td>
          <td th:text="${loan.monthlyPayment} + ' zł'"></td>
          <td th:text="${loan.startTime.toLocalDate()}"></td>
          <td th:text="${loan.endTime.toLocalDate()}"></td>
        </tr>
        </tbody>
      </table>
      <div th:if="${loans.isEmpty()}" style="margin-bottom: 20px">Brak dostępnych kredytów.</div>
    </div>
    <button class="btn btn-secondary" onclick="toggleLoanInfo()">Pobierz informacje o kredytach</button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
  function updateLoanValues() {
    var amount = parseInt(document.getElementById('amount').value);
    var installments = parseInt(document.getElementById('installments').value);
    var interestRate = getInterestRate(installments);
    var monthlyPayment = calculateMonthlyPayment(amount, installments, interestRate);

    document.getElementById('installments').innerText = 'Liczba rat: ' + installments;
    document.getElementById('monthlyPayment').innerText = 'Miesięczna rata: ' + monthlyPayment.toFixed(2) + ' zł';
    document.getElementById('rates').innerText = 'Liczba rat: ' + installments;
  }

  function getInterestRate(installments) {
    if (installments <= 12) {
      return 5; // 5%
    } else if (installments <= 24) {
      return 7; // 7%
    } else {
      return 10; // 10%
    }
  }

  function calculateMonthlyPayment(amount, installments, interestRate) {
    var interest = interestRate / 100;
    var monthlyInterest = interest / 12;
    var denominator = Math.pow(1 + monthlyInterest, installments) - 1;
    var monthlyPayment = (amount * monthlyInterest * Math.pow(1 + monthlyInterest, installments)) / denominator;
    if (isNaN(monthlyPayment) || monthlyPayment <= 0) return 0;
    return monthlyPayment;
  }

  function toggleLoanInfo() {
    var loanInfoDiv = document.getElementById('loanInfo');
    var button = document.querySelector('.btn-secondary');

    if (loanInfoDiv.style.display === 'none') {
      loanInfoDiv.style.display = 'block';
      button.innerText = 'Ukryj informacje o kredytach';
    } else {
      loanInfoDiv.style.display = 'none';
      button.innerText = 'Pobierz informacje o kredytach';
    }
  }
</script>
</body>
</html>
